# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# macOS metadata
.DS_Store

# Firebase Emulator logs
firebase-debug.log
firestore-debug.log
ui-debug.log

# Node dependencies
node_modules/

# Swift package build products
.build/

# Local API credentials
.env.local
.secret.local
functions/.env.group-bomb
