# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# macOS metadata
.DS_Store

# Firebase Emulator logs
firebase-debug.log
firestore-debug.log
ui-debug.log

# Node dependencies
node_modules/
